* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(27, 26, 26, 0.7) !important;
}
.navbar .nav-item {
  padding: 0 20px;
}
.navbar a {
  font-size: 20px;
  font-family: "Recursive", sans-serif;
  color: white !important;
  text-transform: uppercase;
  font-weight: 500;
}
.carousel .carousel-caption {
  margin-bottom: 80px;
}
.carousel .carousel-caption h5,
p {
  text-transform: uppercase;
}
.carousel .carousel-caption h5 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Recursive", sans-serif;
}

.fixed-height {
  max-height: 400px;
}

/* about start  */
#about h5,
a {
  text-transform: uppercase;
}
#about h5 {
  font-family: "Recursive", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
#about p {
  font-size: 18px;
}
#about a {
  font-size: 14px;
}
/* about end  */

/* portfolio  start */
#portfolio h5,
a {
  text-transform: uppercase;
}
#portfolio h5 {
  font-family: "Recursive", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
hr {
  border-top: 2px solid red;
  width: 50px;
  margin: 15px auto;
}
#portfolio img {
  height: 300px;
  width: 300px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1);
  margin: 12px;
}

#portfolio img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 2px 15px 5px #312f2f;
}

/* portfolio  send */

/* team start*/
#team-title {
  text-transform: uppercase;
  font-family: "Recursive", sans-serif;
  font-weight: bold;
  font-size: 22p;
}
#team p {
  text-transform: lowercase;
}

/* team end*/

footer .lead {
  text-transform: lowercase !important;
}
